body {
    background-color: #131515;
    font-family: 'Roboto', sans-serif;
  }
  
  .groceryContainer {
      display: flex;
      width: 100%;
      color: lightgray;
      text-align: center;  
  
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .searchSide {
      display: flex;
      width: 60%;
      flex-direction: column;
      align-items: center;
      text-align: center; 
      padding-bottom: 30px;
  }
  
  .searchBarContainer {
    margin-top: 100px;
    display: flex;
  }
  
  .searchContainer {
      margin-top: 50px;
    }
  
  .searchBox {
      width: 500px;
    }
  
  .manualSearchControls {
    display: flex;
    align-items: center;
    gap:5px;
  }
  
  .buttonContainer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .manualSearch {
      margin-top: 100px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  
  .searchButton, .clearSearchButton, .manualAddToListButton, .clearButton, .addToListButton {
      width: 100px;
      height: 30px;
      background-color: #BB86FC;
      color: black;
      font-size: 14px;
      border-radius: 4px;
      border:1px solid #BB86FC;
    }
  
  
  input[type="text"] {
      background-color: lightgray;;
      color: black;
      border: 1px solid #444;
      padding: 10px;
      border-radius: 5px;
      margin: 5px 0;
      outline: none;
      transition: border-color 0.3s;
  }
  
  input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    display: none;
  }
  
  .listSide {
    display: flex;
    width: 40%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;   
  }
  
  input[type="number"]:focus {
    border: none;
    outline: none;
  }
  
  input[type="text"], input[type="number"] {
    font-size: 16px;
  }
  
  ul {
    list-style-type: none;
    text-align: left;
  
  }
  
  .listItem {
    margin-bottom: 5px;
    margin-left: 50px;
    white-space: nowrap;
  }
  
  .listItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 8px;
    white-space: nowrap;
  }
  
  .productInfoContainer {
    display: flex;
    align-items: center;
  }
  
  .listButtonContainer {
    display: flex;
    gap: 5px;
  }
  
  .itemCheckbox {
    cursor: pointer;
    vertical-align: middle;
  }
  
  
  .checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid aqua;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .checkbox.checked {
    background-color: aqua;
    transition: background-color 0.2s;
  }
  
  .inactive {
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .foodItem {
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  }
  .quantityContainer {
    display: flex;
    align-items: center;
  }
  
  .quantityFieldBox {
    width: 50px;
    height: 40px;
    text-align: center;
    background-color: lightgray;
    border: none;
  }
  
  .editQuantityField {
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: lightgray;
    border: none;
  }
  
  
  .decreaseButton,
  .increaseButton {
      /* margin: 0 5px; */
      background: none;
      border: none;
      width: 25px;
      height: 25px;
      font-size: 20px;
      color: aqua;
      border-radius: 50%;
      line-height: 20px;
  }
  
  .addToListButton { 
    margin-top: 20px;
  }
  
  .clearButton {
    margin-top: 10px;
  }
  
    h1 {
      padding: 20px;
    }
  
    #productGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
  
    .noProductFoundMessage {
      grid-column: 1 / -1;
      text-align: center;   
      margin: 20px 0;
      padding: 10px;
    }
  
    .addToListButton {
      width: fit-content;
      height: fit-content;
    }
  
    .listButtonContainer {
      display: flex;
      flex-wrap: wrap;
    }
  
    .listButtons {
      margin-left: 7px;
      border: none;
      background: #BB86FC;
      border-radius: 4px;
      color: black !important;
      text-decoration: none !important; 
    }
  
    #decButton,#incButton {
      margin: 0 5px;
    } 
  
    @media (max-width: 600px) {
      .groceryContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
  
      #productGrid {
        grid-template-columns: 1fr;
        padding: 0 50px;
      }
  
      .searchBarContainer {
        margin-top: 10px;
      }
  
      .searchSide {
        width: 100%;
      }
  
      .searchBox {
        max-width: 350px;
      }  
  
      .manualSearch {
        flex-wrap: wrap;
        justify-content: center;
      }
  
      .listSide {
        margin-top: 250px;
        width: 100%;
        height: auto;
  
      }
  
      .listContainer {
       align-items: center;
  
      }
  
      .listItemContainer {
        white-space: normal;
      }
  
      ul {
        padding: 0;
      }
  
      .listItem {
        margin: 0;   
        white-space: normal;
  
      }
  
      .listButtonContainer {
        gap: 10px;
      }
  
      .searchButton, .clearSearchButton, .manualAddToListButton, .clearButton, .addToListButton {
        height: 40px;
      }
  
      .listButtons {
        padding: 3px 7px;
        font-size: 16px; 
      }
  
  
    }
  
    @media (min-width: 601px) and (max-width: 1024px) {
  
      .groceryContainer {
        flex-direction: column;
        align-items: center;
      }
  
      #productGrid {
        grid-template-columns: repeat(2, 1fr);
      }
  
      .searchSide {
        width: 100%;
        display: flex;
        justify-content: center;
      }
  
      .listSide {
        margin-top: 50px;
        width: 100%;
        height: auto;
    }
  
    }
  
    @media (min-width: 1024px) and (max-width: 1366px) {
  
      .searchSide {
        width: 55%;
      }
  
      .listSide 
      {
        width: 45%;
        height: auto;
      }
  }